.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

.tag{
  margin-left: 4px;
}

.posts{
  margin: 20px;
  padding: 10px;
}

.reaction{
  margin: 10px 0px 0px 0px;
}

.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.welcome-message{
  margin-top: 10px;
}